.converterContainer {
  /* background-color: green; */
  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: relative;
  justify-content: space-between;
}

.swapper {
  position: absolute;
  top: 50%;
  left: 48%;
  font-size: 1.8rem;
  transform: translate(-50%, -50%);
  border: none;
  background: none;
  color: rgb(56, 145, 56);
  cursor: pointer;
  z-index: 999;
  padding: 2rem;
}

.selectors,
.inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* gap: 2rem; */
  justify-content: space-between;
  position: relative;
}
.imgFrom,
.imgTo {
  position: absolute;
  top: 28%;
  /* left: 2%; */
  padding-left: 0.5rem;
}
.inputs {
  position: relative;
}

.selectors div,
.inputs div {
  width: 90%;
}

.selectors div select {
  /* background-color: purple; */
  border: 1px solid #b8b4b4;
  border-radius: 6px;
  width: 200px;
  width: 90%;
  height: 70px;
  padding-left: 3.5rem;
}

.inputs div input {
  /* border-radius: 6px; */
  border: none;
  border-bottom: 0.5px solid #696969;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: #ececec;
  width: 200px;
  width: 90%;
  height: 70px;
  padding-left: 2rem;
  font-size: 2rem;
}

.dateSection {
  /* background-color: aqua; */
  font-size: 2rem;
  padding-top: 2rem;
  display: flex;
  gap: 1.8rem;
  align-items: center;
}

.dateSection input {
  cursor: pointer;
  border: 1px solid #e0dddd;
  border-radius: 6px;
  width: 50%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  font-weight: 600;
  /* justify-content: flex-end; */
  /* font-size: 1.6rem; */
}

/* i {
  position: absolute;
} */
