* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  margin: 100px;
  gap: 3rem;
}

a {
  text-decoration: none;
  padding: 1rem;
  color: #696969;
}

li {
  list-style-type: none;
}

nav {
  margin: 0 auto;
  /* background-color: red; */
  font-size: 2rem;
}

#app {
  /* background-color: red; */
  font-size: 1.6rem;
  width: 60%;
  margin: 0 auto;
  align-self: center;
  height: 100%;
  border-radius: 10px;
  box-shadow: -1px 9px 12px 4px rgba(85, 85, 85, 0.42);
  padding: 4rem;
}

.active {
  /* background-color: aqua;
  border: 1px solid black; */
  /* padding: 20px; */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  /* color: #000; */
  font-weight: 600;
  box-shadow: 2px 8px 12px 1px rgba(85, 85, 85, 0.27);
}

ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.from {
  justify-self: start;
}

.to {
  justify-self: end;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
